* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --section-height: 700px;
  --content-width: 1000px;
  --nav-height: 100px;
  --sky-blue-background: rgb(78 172 221);
  --sky-blue-background-dark: rgb(31 169 225);
  --sayhello-background: #f4f4f4;
  font-family: "Noto Sans", sans-serif;
}
.hero {
  background-color: var(--sky-blue-background);
  width: 100%;
  height: var(--section-height);
  display: flex;
  justify-content: center;
}

.hero__container {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sky-blue-background);
  background-color: white;
  font-size: 48px;
  position: relative;
  box-shadow: 15px 15px var(--sky-blue-background-dark);
}
.nav__logo {
  height: var(--nav-height);
  width: var(--nav-height);
}

.hbicon {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  cursor: pointer;
}

.hbicon__item {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.hero__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 100px;
}

.hero__heading {
  font-weight: 500;
  font-size: 72px;
  color: white;
}

.hero__text {
  font-weight: 200;
  font-size: 36px;
  color: white;
}

.hero__text--sm {
  font-weight: 200;
  font-size: 16px;
  color: white;
}

.hero__text--bold {
  font-weight: 400;
}

.hero__btn {
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  padding: 20px;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 36px;
  cursor: pointer;
}

.hero__iphone {
  width: 250px;
  position: relative;
  align-self: flex-start;
  left: 75px;
  top: -50px;
}

.sayhello {
  height: var(--section-height);
  width: 100%;
  background-color: var(--sayhello-background);
  z-index: 1;
  position: relative;
}
